.header {
    background-color: #000000;
    height: 112px;
    .header-container {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        nav {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    margin-left: 80px;
                    &:first {
                        margin-left: 0;
                    }
                    a {
                        color: #FFFFFF;
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}